<h1>New Post</h1>
<%= link_to 'New Post', new_post_path %>
<table>
  <tr>
    <th>Post</th>
    <th>Number of post</th>
    <th>Category-name</th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td style="text-align: center;"><%= post.title %></td>
      <td style="text-align: center;"><%= post.text %></td>
      <td style="text-align: center;"><%= post.category.name %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>
