<h2 class="text-center p-3"><b><%= @category.name %></b></h2>
<div class="container">	
	<b><%= link_to "<<Back to categories>>",categories_path, class: "btn btn-primary" %></b>
  <% if @category.posts.present? %>
		<% @category.posts.each do |post| %>
		  <div class="card mt-3">
		  	<div class="card-body">
				  <div class="media">
					  <%= image_tag post.cover_image.url, class: "mr-3 card-img" %>
					  <div class="media-body">
					    <div><%= post.title %></div>
					  	<div><%= post.description %></div>
							<div><%= post.published_at %></div>
					  </div>
					</div>
				</div>	
			</div>	
		<% end %>
	<% else %>
	  <p>Sorry, there are no posts in this category</p>  
	<% end %>
	
</div>